<h1>Posts</h1>

<%= link_to "New post", new_post_path %>

<%= search_form_for @q do |f| %>
  <p>Narrow results:</p>

  <div>
    <%= f.label :title_or_body_cont, "Title or body containing" %>
    <%= f.text_field :title_or_body_cont, placeholder: "Enter a few characters" %>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <%= link_to 'Clear filters', posts_path %>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @posts %>
</div>
