<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render "shared/cdn_links" %>
    <%= render "shared/meta_tags" %>
  </head>

  <body>
    <div class="mb-2">
      <%= render "shared/nav" %>
    </div>
    <div class="mb-2">
      <%= render "shared/flash" %>
    </div>
    <div class="container">
      <%= render "shared/breadcrumbs" %>
    </div>
    <div class="container my-5">
      <%= yield %>
    </div>
  </body>
</html>
